@{
    ViewBag.Title = "Search";
}

<script src="@Url.Content("~/Scripts/jquery.highlight-3.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function buscarAjax() {
            $.ajax({
                url: '@Url.Action("Search", "Products")',
                data: { text: $("#txBusqueda").val() },
                type: "post",
                cache: false,
                success: function (retorno) {
                    $("#contenido").html(retorno);
                    $('td').highlight($("#txBusqueda").val());
                    $('h3').text('Se han encontrado ' + $('.highlight').length + ' coincidencias');
                },
                error: function () {
                    alert("Se ha producido un error");
                }
            });
        }
    </script>

<h2>Buscar Productos</h2>
@Html.Label("Introduzca el texto: ")
<input id="txBusqueda" type="text" runat="server" />
<input id="btBuscar" onclick="javascript:buscarAjax();" type="button" value="Buscar" />
<h3></h3>
<div id="contenido" style="margin-top:40px"></div>

